*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.whole-background{
    background-color: #dee2e6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-whole-background {
      display: flex;
      flex-direction: column;
      background: linear-gradient(to bottom ,#cddafd 50%, #dfe7fd 0%);
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      width: 700px;
      height: 90%;
      align-items: center;  
      
}

.card {
    background-color: whitesmoke;
    width: 350px;
    max-height: 60%;
    border-radius: 0 0 10% 10%;
}

.hero{
   margin-top: 2rem;
   width: 350px;
   height: 30%; 
   border-radius: 15% 15% 0 0;
}

h1 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 1.5rem;
   font-family: 'Ubuntu', sans-serif;
   padding: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #6468a1;
    font-family: 'Lora', serif;
    font-size: 1rem;
    font-style: 700;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.music-logo {
    display: flex;
    width: 35px;
    height: 35px;
}

.annual-plan-container {
    display: flex;
    justify-content: center;
    padding:  2rem 0 0 0;
}

    .annual-plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #caf0f8;
    width: 90%;
    height: 8vh;
}

.year {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
}

#plan {
    font-weight: bold;
}

.change {
    padding-left: 5rem;
    font-weight:700;
    text-decoration: underline;
    color: blue;
    
}


.payment-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.payment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4895ef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 8vh;
    width: 90%;
    font-weight: 800;
    border-radius: 2rem;
    color: azure;
}

.order {
    color: #8e94f2;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
    height: 10vh;
}

@media (max-width:560px) {
    .hero {
        margin-top: 2rem;
        width: 300px;
        height: 25%; 
        border-radius: 15% 15% 0 0;
    }
    .card {
    background-color: whitesmoke;
    width: 300px;
    max-height: 50%;
    border-radius: 0 0 10% 10%;
    }
    
    ul , .details{
        font-size: 0.8rem;
    }
    
    .year {
        font-size: 0.9rem;
        display: flex;
        flex-grow: 1;
    }
    .change {
       padding-left: 2rem;
       padding-right: 1rem;
    }
    .card-whole-background {
        height: 100%;
        display: flex;
        justify-content: center;
    }
}
