*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.whole-background{
    background-color: #dee2e6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-whole-background {
      display: flex;
      flex-direction: column;
      background: linear-gradient(to bottom ,#cddafd 50%, #dfe7fd 0%);
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      width: 700px;
      height: 90%;
      align-items: center;  
      
}
/* .curve {
    width: 100%;
    height: 85%;
     background-color: rgb(191, 207, 245);
     clip-path: polygon(100% 0%, 0% 0% , 0% 100.00%, 1% 99.95%, 2% 99.80%, 3% 99.56%, 4% 99.22%, 5% 98.78%, 6% 98.25%, 7% 97.63%, 8% 96.93%, 9% 96.14%, 10% 95.27%, 11% 94.33%, 12% 93.31%, 13% 92.24%, 14% 91.10%, 15% 89.91%, 16% 88.68%, 17% 87.40%, 18% 86.09%, 19% 84.75%, 20% 83.39%, 21% 82.01%, 22% 80.63%, 23% 79.25%, 24% 77.88%, 25% 76.52%, 26% 75.18%, 27% 73.87%, 28% 72.59%, 29% 71.36%, 30% 70.17%, 31% 69.03%, 32% 67.96%, 33% 66.95%, 34% 66.01%, 35% 65.14%, 36% 64.35%, 37% 63.65%, 38% 63.03%, 39% 62.50%, 40% 62.07%, 41% 61.73%, 42% 61.48%, 43% 61.34%, 44% 61.29%, 45% 61.34%, 46% 61.49%, 47% 61.74%, 48% 62.08%, 49% 62.52%, 50% 63.05%, 51% 63.67%, 52% 64.38%, 53% 65.17%, 54% 66.04%, 55% 66.98%, 56% 67.99%, 57% 69.07%, 58% 70.21%, 59% 71.40%, 60% 72.64%, 61% 73.91%, 62% 75.23%, 63% 76.57%, 64% 77.93%, 65% 79.30%, 66% 80.68%, 67% 82.06%, 68% 83.44%, 69% 84.80%, 70% 86.14%, 71% 87.45%, 72% 88.72%, 73% 89.96%, 74% 91.14%, 75% 92.28%, 76% 93.35%, 77% 94.36%, 78% 95.30%, 79% 96.17%, 80% 96.95%, 81% 97.65%, 82% 98.27%, 83% 98.80%, 84% 99.23%, 85% 99.57%, 86% 99.81%, 87% 99.95%, 88% 100.00%, 89% 99.95%, 90% 99.80%, 91% 99.55%, 92% 99.20%, 93% 98.76%, 94% 98.23%, 95% 97.61%, 96% 96.90%, 97% 96.11%, 98% 95.24%, 99% 94.29%, 100% 93.28%);
} */


.card {
    background-color: whitesmoke;
    width: 350px;
    height: 60%;
    border-radius: 0 0 10% 10%;
}

.hero{
   margin-top: 2rem;
   width: 350px;
   height: 30%; 
   border-radius: 15% 15% 0 0;
}

h1 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 1.5rem;
   font-family: 'Ubuntu', sans-serif;
   padding: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #6468a1;
    font-family: 'Lora', serif;
    font-size: 1rem;
    font-style: 700;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.music-logo {
    display: flex;
    width: 35px;
    height: 35px;
}

.annual-plan-container {
    display: flex;
    justify-content: center;
    padding:  2rem 0 0 0;
}

    .annual-plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #caf0f8;
    width: 90%;
    height: 8vh;
}

.year {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
}

#plan {
    font-weight: bold;
}

.change {
    padding-left: 5rem;
    font-weight:700;
    text-decoration: underline;
    color: blue;
    
}


.payment-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.payment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4895ef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 8vh;
    width: 90%;
    font-weight: 800;
    border-radius: 2rem;
    color: azure;
}

.order {
    color: #8e94f2;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
    height: 10vh;
}

@media (max-width:560px) {
    .hero {
        margin-top: 2rem;
        width: 300px;
        height: 25%; 
        border-radius: 15% 15% 0 0;
    }
    .card {
    background-color: whitesmoke;
    width: 300px;
    height: 50%;
    border-radius: 0 0 10% 10%;
    }
    
    ul {
        font-size: 0.8rem;
    }
   
    .details {
        font-size: 0.8rem;
    }
    
    .year {
        font-size: 0.9rem;
        display: flex;
        flex-grow: 1;
    }
    .change {
       padding-left: 2rem;
       padding-right: 1rem;
    }
    .card-whole-background {
        height: 100%;
        display: flex;
        justify-content: center;
    }
}
